@import '/modern-normalize.css';

body {
    font-family: Roboto, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    grid-template-areas: 
    "side-bar header"
    "side-bar main-content";
}

.side-bar {
    grid-area: side-bar;
    background-color: #0284c7;
    color: white;
}

.logo {
    display: flex;
    align-items:center;
    padding-left: 15px;
    font-weight: 700;
    font-size: 1.9rem;
    gap: 12px;
}

.logo-img {
    max-width: 3.2rem;
    max-height: auto;
}

.menu {
    display: grid;
    font-size: 1.3rem;
    font-weight: 800;
    padding-top: 20px;
    padding-left: 25px;
}

.menu-options {
    padding-top: 50px;
}

.side-bar svg {
    height: 30px;
}

.menu-title {
    display: flex;
    gap: 20px;
}

.menu-icon {
    padding-top: 6%;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.search-bar {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.2fr;
    gap: 15px;
}

.search-field {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    border: transparent;
    width: 600px;
    height: 30px;
    grid-column: 2 / 3;
}

.search-icon {
    width: 30px;
    height: auto;
    grid-column: 1 / 2;
}





.main-content {
    grid-area: main-content;
}

a {
    all: unset;
    cursor: pointer;
}
